<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <h2 style="color: brown; font-weight: bolder; font-size: 40px;">Login page</h2>
      <form>
        <!-- email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1" style="color: darkblue; font-size:20px;">Email</label>
          <input type="name" id="form2Example1" class="form-control"/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2" style="color: darkblue; font-size:20px;">Password</label>
          <input type="password" id="form2Example2" class="form-control"/>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example3" checked />
              <label class="form-check-label" for="form2Example3"> Remember me </label>
            </div>
          </div>
        </div>

        <!-- Submit button -->

        <button type="submit" class="btn btn-dark btn-block mb-4"><a [routerLink]="['/landing-page']">Login</a></button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a [routerLink]="['/register']">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
