<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Register</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field>
          <input matInput placeholder="Username">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" type="button" class="btn btn-primary"><a
            routerLink="/login"></a>Register</button>
      </form>
  
  
    </mat-card>
  </div>
  